@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2d2e32;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  /* Act as a border */
  .card-wrapper {
    @apply relative overflow-hidden bg-backgroundAlt;
  }

  /* Gradient */
  .card-wrapper::before {
    background: conic-gradient(
      rgba(100, 244, 172, 0.4) 0deg,
      rgba(100, 244, 172, 0.4) 0deg,
      transparent 80deg
    );

    @apply absolute left-[-25%] top-[-50%] h-[200%] w-[150%] animate-border-spin content-[''];
  }

  /* Body */
  .card-content {
    @apply absolute left-[1px] top-[1px] h-[calc(100%-2px)] w-[calc(100%-2px)] bg-backgroundAlt;
  }
}
